ion-content{
    text-align: center;
}
ion-title{
    color: #000;
}

ion-col{
    border: 3px solid #fff;
    text-align: center;
    
    
}
ion-col{
    background-color: #FF8C00;
   
}
#a,#a1{
    background-color: #fff;
    
}
#b{
    border-left: 1px solid #000;
}
#b,#b1{
    background-color: #fff;
    
}

h1 {
   
    
    font-size: 40px;
  }