ion-content{
    text-align: center;
}
ion-title{
    color: #000;
}

ion-col{
    border: 2px solid #fff;
    text-align: center;
    
    
}
ion-col{
    background-color: orangered;
   
}
#a,#a1{
    background-color: #fff;
    
}
#b{
    border-left: 1px solid #000;
}
#b,#b1{
    background-color: #fff;
    
}